#piano-inline-content-wrapper {
    display: none!important;
}
.piano-freemium {
    display: block!important;
}
#piano-inline-slideshow-wrapper {
    display: none!important;
}


.title-wrapper {
    height: 50px;
}

.letter {
    position: relative;
    top: -2px;
    width: auto;
    height: .79em;
    font-size: 1em;
}

/* Default kerning */
.letter:not(:first-child) {
    margin-left: .06em;
}

/* Custom letter pair kerning */
.n + .a,
.r + .a {
    margin-left: 0.03em;
}

.t + .a {
    margin-left: -0.09em;
}

.i + .d {
    margin-left: 0.075em;
}

.c + .e,
.m + .e {
    margin-left: 0.075em;
}

.e + .g {
    margin-left: 0.045em;
}

.i + .m {
    margin-left: 0.075em;
}

.a + .n {
    margin-left: 0.03em;
}

.s + .o {
    margin-left: 0.03em;
}

.t + .o {
    margin-left: 0.015em;
}

.e + .r {
    margin-left: 0.075em;
}

.r + .s {
    margin-left: 0.015em;
}

.a + .t {
    margin-left: -0.09em;
}

.l + .t {
    margin-left: -0.015em;
}

.s + .t {
    margin-left: 0.015em;
}

.a + .v {
    margin-left: -0.12em;
}

.d + .v {
    margin-left: -0.03em;
}

.g + .y {
    margin-left: 0em;
}

.r + .y {
    margin-left: -0.02em;
}